<template name="entryExtraSignUpFields">
    {{#each extraSignUpFields}}
    {{> _entryExtraSignUpField}}
    {{/each}}

    {{#if useSchema}}
        {{#autoForm schema=useSchema id="entryExtraSignUpFieldsAf"}}
            {{#each afFieldNames}}
                {{> afQuickField name=this.name options=afOptionsFromSchema}}
            {{/each}}
        {{/autoForm}}
    {{/if}}
</template>

<template name="_entryExtraSignUpField">
    {{#if isTextField }}
    <div class="form-group">
        {{text_field field type=type required=required label=label placeholder=placeholder }}
    </div>
    {{/if}}

    {{#if isCheckbox}}
    <div class="checkbox">
        {{check_box name label=label required=required}}
    </div>
    {{/if}}
</template>
