<template name='entrySignUp'>
  <div class="container">
    <div class="row">
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry col-md-4 col-md-offset-4">
        <h3>Create an Account</h3>
        {{#if otherLoginServices}}
          <p class="entry-signin-cta">{{i18n "ifYouAlreadyHaveAnAccount"}} <a href="/sign-in">{{i18n "signin"}}</a>.</p>
          <div class="entry-social">
            {{#each loginServices}}
              {{> entrySocial}}
            {{/each}}
            <div class="email-option">
              <strong class="line-thru">OR</strong>
              <a data-toggle="collapse" href="#signUp">
                {{i18n "signUpWithYourEmailAddress"}}
              </a>
            </div>
          </div>
        {{else}}
            <p class="entry-signin-cta">{{i18n "ifYouAlreadyHaveAnAccount"}}t <a href="/sign-in">{{i18n "signin"}}</a>.</p>
        {{/if}}
        {{> entryError}}
        <form class="entry-form {{signupClass}}" id='signUp'>
          {{#if showUsername}}
            <div class="form-group">
              <label>{{i18n "username"}}</label>
              <input autofocus name="username" type="string" class="form-control" value=''>
            </div>
          {{/if}}

          {{#if showEmail}}
            <div class="form-group">
              <label>{{i18n "emailAddress"}}</label>
              <input autofocus type="email" class="form-control" value=''>
            </div>
          {{/if}}

          <div class="form-group">
            <label>{{i18n "password"}}</label>
            <input type="password" class="form-control" value=''>
          </div>

          {{#if showSignupCode}}
            <div class="form-group">
              <label>{{i18n "signupCode"}}</label>
              <input name="signupCode" type="string" class="form-control" value=''>
            </div>
          {{/if}}

          <button type="submit" class="submit btn btn-default">{{i18n "signUp"}}</button>
        </form>
        {{#if both}}
          <p class="entry-agreement">{{i18n "clickAgree"}}
            <a href="{{privacyUrl}}">{{i18n "privacyPolicy"}}</a> and
            <a href="{{termsUrl}}">{{i18n "terms"}}</a>.
          </p>
        {{else}}
          {{#unless neither}}
            <p class="entry-agreement">{{i18n "clickAgree"}}
              {{#if privacyUrl}}<a href="{{privacyUrl}}">{{i18n "privacyPolicy"}}</a>.{{/if}}
              {{#if termsUrl}}<a href="{{termsUrl}}">{{i18n "terms"}}</a>.{{/if}}
            </p>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

