<template name="entryAccountButtons">
  {{#if currentUser}}

    {{#if profileUrl}}
      {{#if wrapLinks}}<li>{{/if}}
        <a class='profileLink' href='{{profileUrl}}'>{{signedInAs}}</a>
      {{#if wrapLinks}}</li>{{/if}}
    {{else}}
      {{#if wrapLinks}}<li>{{/if}}
        <p class="navbar-text">{{signedInAs}}</p>
      {{#if wrapLinks}}</li>{{/if}}
    {{/if}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/sign-out">Sign Out</a>
    {{#if wrapLinks}}</li>{{/if}}

  {{else}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/sign-in">Sign In</a>
    {{#if wrapLinks}}</li>{{/if}}

    {{#unless wrapLinks}}<span>or</span>{{/unless}}

    {{#if wrapLinks}}<li>{{/if}}
      <a href="/sign-up">Sign Up</a>
    {{#if wrapLinks}}</li>{{/if}}

  {{/if}}
</template>
