<template name='entryResetPassword'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry-form col-md-4 col-md-offset-4 sign-in-page reset-password">
        {{#if error}}
          <div class='alert alert-danger'>{{error}}</div>
        {{/if}}
        <h3>{{t9n "resetYourPassword"}}</h3>
        <form id='resetPassword' class='entry-form'>
          <div class="form-group">
                <label>Password:</label>
            <input type="password" name="new-password" class="form-control" value=''>
          </div>
          <button type="submit" class="submit btn btn-default" style="width: 83% !important;">{{t9n "updateYourPassword"}}</button>
        </form>
        {{#if showSignupCode}}
          <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a href="{{pathFor 'entrySignUp'}}">{{t9n 'signUp'}}</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
