<template name='entrySignIn'>
  <div class="container">
    <div class="row">
      {{#if logo}}
        <div class="entry-logo">
            <a href="/"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry col-md-4 col-md-offset-4">
        {{#if otherLoginServices}}
        <div class="entry-social">
          {{#each loginServices}}
            {{> entrySocial}}
          {{/each}}
          {{#if passwordLoginService}}
          <div class="email-option">
            <strong class="line-thru or-sign-in">{{i18n "OR"}}</strong>
          </div>
          {{/if}}
        </div>
        {{/if}}
        {{> entryError}}
        {{#unless otherLoginServices}}
          <div class="email-option">
            <h3>{{i18n "signIn"}}</h3>
          </div>
        {{/unless}}
        {{#if passwordLoginService}}
          <form class="entry-form" id='signIn'>
            <div class="form-group">
              <input autofocus name="email" type="{{emailInputType}}" class="form-control" value='{{email}}' placeholder="{{emailPlaceholder}}">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" value='{{password}}' placeholder="{{i18n 'password'}}">
            </div>
            {{#unless isUsernameOnly}}
              <p><a href="/forgot-password">{{i18n "forgotPassword"}}</a></p>
              <button type="submit" class="submit btn btn-block btn-default">{{i18n "signIn"}}</button>
            {{/unless}}
          </form>
        {{/if}}
        <p class="entry-signup-cta">{{i18n "dontHaveAnAccount"}} <a href="/sign-up">{{i18n "signUp"}}</a></p>
      </div>
    </div>
  </div>
</template>
