<template name='entryForgotPassword'>
  <div class="sign-in-page forgot-password-page">
    <div class="{{containerCSSClass}}">
      <div class="{{rowCSSClass}}">
        {{#if logo}}
          <div class="entry-logo">
              <a href="/"><img src="{{logo}}" alt="logo"></a>
          </div>
        {{/if}}
        <div class="col-md-12">
          <div class="header-signin">
            <h1>forgot password</h1>
            <p>put your email address you registered with lumin, we will send an email with a link to recover your password</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="entry col-md-offset-3 col-md-6">
          {{#if error}}
            <div class='alert alert-danger'>{{error}}</div>
          {{/if}}
          <form class="entry-form" id='forgotPassword'>
            <div class="form-group">
              <label>Your email address:</label>
              <input type="email" name="forgottenEmail" class="form-control" value=''>
            </div>
            <button type="submit" class="submit btn btn-default">send reset link</button>
          </form>
          {{#if showSignupCode}}
            <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a href="{{pathFor 'entrySignUp'}}">{{t9n 'signUp'}}</a></p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

