<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.repo }} | Differential</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/font-awesome.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/global.css">
  </head>
  <body>

    <header>
      <div class="navbar navbar-inverse">
        <div class="container">
          <a class="navbar-brand" href="#">
            <div class="navbar-admin-brand">
              <img src="{{ site.baseurl}}/images/logo-sq-orange-web.png"> DIFFERENTIAL DEVELOPERS
            </div>
          </a>
          <ul class="nav navbar-nav pull-right">
          </ul>
        </div>
      </div>
    </header>

    <section class="billboard">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>{{ page.repo }}</h1>
            <p class="lead">{{ page.desc }}</p>
            <div class="version">{{ page.version }}</div>
            <iframe src="http://ghbtns.com/github-btn.html?user={{ page.username }}&repo={{ page.repo }}&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="200" height="35"></iframe>
          </div>
          <div class="col-md-5">
            Buttons coming
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
